html,
body {
    scroll-behavior: smooth;
}

.mobile-menu {
    display: none;
}

.mobile-menu-wrap {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.mobile-menu-wrap>span {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 100px;
    transition: 0.3s;
}

#mobile-menu-sw {
    display: none;
}

#mobile-menu-sw:checked~.mobile-menu .mobile-menu-wrap>span {
    background-color: red;
}

#mobile-menu-sw:checked~.mobile-menu .mobile-menu-wrap>span:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
    left: 1px;
}

#mobile-menu-sw:checked~.mobile-menu .mobile-menu-wrap>span:nth-child(2) {
    display: none;
}

#mobile-menu-sw:checked~.mobile-menu .mobile-menu-wrap>span:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
}

@media screen and (max-width: 800px) {
    .mobile-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header-wrap {
        position: relative;
    }

    .header-wrap .menu {
        display: none;
    }

    #mobile-menu-sw:checked~.menu {
        display: flex;
        position: absolute;
        top: 80px;
        left: 0;
        background: #fff;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 20px;
    }

    #mobile-menu-sw:checked~.menu>ul {
        width: 100%;
        flex-direction: column;
    }

    #page-1 .page-content {
        grid-template-columns: 1fr;
    }

    #page-1 .page-content>div:first-child::after {
        right: unset;
        left: 0;
        top: unset;
        bottom: 0;
        height: 0;
        width: 100%;
        border-left: 0;
        border-bottom: 4px dashed #fff;
    }

    #page-1 .page-content>div:first-child {
        padding-right: 0;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    #page-1 .page-content>div:last-child {
        padding-left: 0;
    }

    .flow-item:nth-child(even) .flow-text {
        left: 50px;
        right: unset;
        text-align: left;
    }

    .flow-item .flow-text {
        left: 50px;
    }

    .flow::before {
        left: 11px;
    }

    .flow-item {
        justify-content: flex-start;
    }

    .flow-wrap {
        display: grid;
        gap: 40px;
    }

    .menu>ul>li {
        border-bottom: 2px dashed #000;
        width: 100%;
        padding-bottom: 20px;
    }

    .menu>ul>li:last-child {
        border: 0;
        padding-bottom: 0;
    }
}