.block {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    transition-duration: 3.5s;
}

.block:hover {
    background: blue;
    color: red;
    width: 500px;
}

.block.only-color {
    transition-property: color;
}

.block.only-width {
    transition-property: width color;
}

.block.delay {
    transition-delay: 2s;
}