.discount-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.discount-grid .item {
    background: #0e62ff;
    color: #fff;
    padding: 10px;
}

.cover {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.cover img {
    max-width: 100%;
    height: auto;
}

.cover.s1 .discount {
    position: absolute;
    top: 16px;
    right: -77px;
    width: 100%;
    height: 26px;
    background: #fff;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

.cover:not(.s1)::after {
    content: 'off ' attr(data-discount) '%';
    position: absolute;
    top: 16px;
    right: -77px;
    width: 100%;
    height: 26px;
    background: #fff;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}