h2.title {
    margin: 10px auto;
}

.d-flex {
    display: flex;
    height: 300px;
    background-color: #dedede;
    justify-content: flex-start;
}

.d-flex>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: red;
    color: #fff;
}

.tip {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 100px;
    background: #1b66c7;
    color: #fff;
    font-size: 12px;
}

.tip.danger {
    background: rgb(255, 36, 36);
}

.d-flex.end {
    justify-content: flex-end;
}

.d-flex.center {
    justify-content: center;
}

.d-flex.sa {
    justify-content: space-around;
}

.d-flex.sb {
    justify-content: space-between;
}

.d-flex.se {
    justify-content: space-evenly;
}